* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  background-color: rgba(245, 245, 220, 0.753);
  height: 100vh;
}

header {
  background-color: rgba(171, 171, 156, 0.753);
}

menu {
  display: none;
}

menu a {
  padding: 10px;
  display: block;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid black;
  color: black;
  font-weight: bold;
  background-color: rgba(126, 126, 115, 0.753);
}

menu a:hover {
  background-color: rgba(245, 245, 220, 0.753);
}

main {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  /* max-width: 800px; */
  width: 90vw;
  margin: 5px auto;
}

h1,
h2 {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

p {
  text-align: justify;
  padding: 10px;
  line-height: 1.3em;
}

#burger {
  background-color: rgba(166, 166, 150, 0.753);
  color: white;
  text-align: center;
  display: block;
  padding: 10px;
  cursor: pointer;
}

#burger:hover {
  background-color: rgba(116, 116, 104, 0.753);
}

/* Media Queries */
/* Esses 768px incluem as larguras de tablets */

@media screen and (min-width: 768px) {
  #burger {
    display: none;
  }

  menu {
    display: block;
  }

  menu > ul > li {
    display: inline-block;
  }

  menu a {
    border-top: none;
  }

  main {
    width: 768px;
  }
}
